/MutableNastiness$DoubleWrapper.class
/MutableNastiness$MyDouble.class
/MutableNastiness.class
/MutableNastinessFixed$DoubleWrapper.class
/MutableNastinessFixed$MyDouble.class
/MutableNastinessFixed.class
/ObjectThing$myObject.class
/ObjectThing.class
/StringExample$StringWrapper.class
/StringExample.class
/StringTest2.class
/StringThing.class
